
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.redText {
  color: #ff3830;
}

.greenText {
  color: #4cd964;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Reset
  =============== */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}

/* Scaffolding
  =============== */
html {
  font-size: 16px;
}

body {
  color: #404040;
  background: #fafafa;
  font-size: 16px;
}

.pmargin {
  margin: 0 !important;
}

p,
ol,
ul,
dl,
table {
  margin: 0 0 24px 0;
}

ul li ul {
  margin-bottom: 0;
}

ol li ol {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 16px 0;
  font-weight: 600;
  line-height: 1.2;
  color: #54585a;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
  margin: 24px 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 32px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

page h1,
page h2 {
  margin: 8px 0 !important;
  font-weight: bold;
}

page h1:first-child,
page h2:first-child {
  margin-top: 24px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 12px 0;
}

p.small {
  font-size: 14px;
}

p {
  font-size: 16px;
}

page h1 {
  font-size: 24px;
}

page h2 {
  font-size: 20px;
}

page h3 {
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  p.small {
    font-size: 14px;
  }

  p,
  a {
    font-size: 16px;
  }
}

a {
  color: #d22630;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #d22630;
  text-decoration: underline;
}

mark {
  background: #ffeea8;
  padding: 0 4px;
}

blockquote {
  margin: 0 0 24px 0;
  border-left: 16px solid #f0f0f0;
  padding: 0 24px;
  font-size: 24px;
}

blockquote cite {
  display: block;
  margin-top: 24px;
  font-size: 16px;
  text-align: right;
}

pre {
  border: 0;
  border-radius: 4px;
  background: transparent;
  padding: 16px;
  tab-size: 2;
  color: #404040;
  font-family: Menlo, monospace;
  font-size: 14px;
  margin: 0 0 24px 0;
}

pre code {
  font-family: Menlo, monospace;
  line-height: 1.2;
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}

:not(pre) > code {
  color: #404040;
  background: transparent;
  font-family: Menlo, monospace;
  font-size: 14px;
  padding: 0 0.2rem;
  border: 1px solid #dedede;
  border-radius: 4px;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #dedede;
}

strong {
  font-weight: 600;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0.5rem;
}

@media all and (min-width: 640px) {
  .hero-test {
    width: 320px;
  }
}

@media all and (min-width: 1280px) {
  .hero-test {
    width: 1280px;
  }
}

.buttonToLink {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 14px;
  color: #54585a;
}

.buttonToLink:hover {
  background: none;
  text-decoration: underline;
}

.buttonBold {
  font-weight: bold;
}

.ppp {
  white-space: pre-line;
}

.adImg {
  width: 400px;
  height: 150px;
  background-position: center;
  background-size: cover;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fafafa;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  margin: 0 !important;
}

.payeerName,
.col-auto {
}

.yellowText {
  color: #ff8954;
}

.hiName {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

.requested {
  font-size: 20px;
  font-weight: light;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

.comments {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

.roundedDivSelfDefiend {
  text-align: center;
}

.card {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(166, 166, 166, 0.15);
  background-color: #ffffff;
  border-radius: 18px;
}

.btn-danger {
  object-fit: contain;
  background-color: #c8102e;
  border-radius: 25px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.textButton {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.btn-group-lg > .btn,
.btn-lg {
  line-height: 1.8;
}

.logo {
  width: 141px;
}

.fontsizePurpose {
  font-size: 12px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .logo {
    width: 104px;
  }
}
